Repository vscode-icons/vscode-icons, pull requests merged in 2018-02, with the labels that each got.

#1436 Add support for rubocop
  icons/file_type_light_rubocop.svg
  icons/file_type_rubocop.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1438 Add support for tslint.yaml & tslint.yml
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1450 Add "asm" id to assembly.
  src/icon-manifest/languages.ts
Labels: file icons

#1452 Add support for docker test filename.
  icons/file_type_dockertest.svg
  icons/file_type_dockertest2.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1453 Add support for SystemVerilog.
  icons/file_type_light_systemverilog.svg
  icons/file_type_systemverilog.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1454 Add support for Verilog.
  icons/file_type_verilog.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1463 Fix rejection handling of "findFiles".
  src/index.ts
  src/init/projectAutoDetection.ts
  test/init/projectAutoDetection.test.ts
Labels: bug

#1448 README fix link: Customization, not Configuration
  README.md
Labels: documentation

#1480 Typo?
  CHANGELOG.md
Labels: documentation

#1470 Change docker image build process.
  .travis.yml
  docker/development/Dockerfile
  docker/development/build.sh
  docker/development/install.sh
  docker/remote-builder/Dockerfile
  docker/remote-builder/build.sh
  docker/trigger-docker-vsi.sh
Labels: devops

#1473 Add icon for postcss config files.
  icons/file_type_postcssconfig.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1471 Add support for Swig.
  icons/file_type_swig.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1476 Add support for Yamllint.
  icons/file_type_yamllint.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1472 Add support for RStudio project file.
  icons/file_type_rproj.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1474 Add support for PHP-CS-Fixer config file.
  icons/file_type_phpcsfixer.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1475 Associate "env.dist" filename to config icon.
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1478 Add support for Browserslist.
  icons/file_type_browserslist.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1479 Add nyc icon for .nycrc.json file
  src/icon-manifest/supportedExtensions.ts
Labels: file icons
