Repository vscode-icons/vscode-icons, pull requests merged in 2018-05, with the labels that each got.

#1577 Add Vala & vapi
  icons/file_type_vala.svg
  icons/file_type_vapi.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1587 Update dependencies
  package-lock.json
  package.json
  src/init/welcome.ts
  test/iconGenerator/functionality.test.ts
  test/init/projectAutoDetection.test.ts
  test/settings/settings.test.ts
  test/utils/utils.test.ts
  yarn.lock
Labels: greenkeeper

#1582 support for @types directory
  src/icon-manifest/supportedFolders.ts
Labels: folder icons

#1586 Add support for WurstScript .wurst
  icons/file_type_wurst.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1589 Add light theme icon for Crystal
  icons/file_type_crystal.svg
  icons/file_type_light_crystal.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1590 Add support for DotEnv
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1591 Add support for Maya
  icons/file_type_maya.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1592 Add support for Helm
  icons/file_type_helm.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1593 Add support for Typoscript
  icons/file_type_typo3.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1594 Add support for Jake
  icons/file_type_jake.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1596 Add support for Glide
  icons/file_type_glide.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1597 Add support for Codacy
  icons/file_type_codacy.svg
  icons/file_type_light_codacy.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1600 Improve CI scripts
  .appveyor.yml
  .gitignore
  .travis.yml
Labels: devops

#1598 Add support for Meson
  icons/file_type_meson.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1599 Add support for Nuxt.js
  icons/file_type_nuxt.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons
