Repository vscode-icons/vscode-icons, pull requests merged in 2018-08, with the labels that each got.

#1663 support for wasm
  icons/file_type_wasm.svg
  package-lock.json
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1669 Add svg to the image folders
  src/icon-manifest/supportedFolders.ts
Labels: folder icons

#1667 Add prettier to keep a uniform format in our code
  .editorconfig
  .prettierignore
  .prettierrc
  .vscode/extensions.json
  package-lock.json
  package.json
  src/cleanUp/index.ts
  src/commands/helper.ts
  src/commands/index.ts
  src/constants/index.ts
  src/errorHandler.ts
  src/i18n/languageResourceManager.ts
  src/icon-manifest/build.ts
  src/icon-manifest/iconGenerator.ts
  src/icon-manifest/manifestMerger.ts
  src/icon-manifest/manifestReader.ts
  src/icon-manifest/supportedExtensions.ts
  src/icon-manifest/supportedFolders.ts
  src/index.ts
  src/init/applyCustomizationsManager.ts
  src/init/projectAutoDetection.ts
  src/init/welcome.ts
  src/models/contributions/associations.ts
  src/models/extensions/folderCollection.ts
  src/models/extensions/folderExtension.ts
  src/models/iconGenerator/iconGenerator.ts
  src/models/vscode/index.ts
  src/models/vscode/vscodeCancellationToken.ts
  src/models/vscode/vscodeUri.ts
  src/settings/settingsManager.ts
  src/typings.d.ts
  src/utils/index.ts
  src/utils/vscode-extensions.ts
  test/cleanUp/cleanUp.test.ts
  test/commands/helper.test.ts
  test/i18n/i18n.test.ts
  test/iconGenerator/functionality.test.ts
  test/iconGenerator/iconGeneration-files.test.ts
  test/iconGenerator/iconGeneration-folders.test.ts
  test/init/applyCustomizationsManager.test.ts
  test/init/projectAutoDetection.test.ts
  test/manifestMerger/defaultExtensions.test.ts
  test/manifestMerger/fileExtensions.test.ts
  test/manifestMerger/folderExtensions.test.ts
  test/manifestMerger/presets.test.ts
  test/settings/settings.test.ts
  test/support/supportedExtensions.ts
  test/support/supportedFolders.ts
  test/utils/utils.test.ts
  test/utils/vscode-extensions.test.ts
  tslint.json
Labels: enhancement

#1685 Fix supported file entry
  src/icon-manifest/supportedExtensions.ts
Labels: file icons
