Repository vscode-icons/vscode-icons, pull requests merged in 2018-03, with the labels that each got.

#1498 Adds support for conanfile.py
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1477 Add support for Symfony lock filename.
  icons/file_type_light_symfony.svg
  icons/file_type_symfony.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1503 Fix toggling of preset icons
  src/icon-manifest/manifestReader.ts
Labels: bug, confirmed

#1515 Add Wallaby integration
  README.md
  test/iconGenerator/functionality.test.ts
  wallaby.js
Labels: devops

#1509 Improve support for Prettier
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1510 Add support for PostgreSQL
  icons/file_type_pgsql.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1521 Add support for Wallaby
  icons/file_type_wallaby.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1511 Add support for Quasar Framework
  icons/file_type_quasar.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1512 Add support for SLang
  icons/file_type_slang.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1513 Add support for Cython
  icons/file_type_cython.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1516 Add support for Mocha
  icons/file_type_mocha.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1517 Add support for Fossa
  icons/file_type_fossa.svg
  src/icon-manifest/supportedExtensions.ts
Labels: file icons

#1519 Add support for Pyret
  icons/file_type_pyret.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1522 Add support for Maven
  icons/file_type_maven.svg
  icons/folder_type_maven.svg
  icons/folder_type_maven_opened.svg
  src/icon-manifest/supportedExtensions.ts
  src/icon-manifest/supportedFolders.ts
Labels: file icons, folder icons

#1514 Add test failure retry
  package.json
Labels: devops

#1518 Add support for QSharp
  icons/file_type_qsharp.svg
  src/icon-manifest/languages.ts
  src/icon-manifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1529 Switch to faceless icon version for Pyret
  icons/file_type_pyret.svg
Labels: file icons

#1530 Associate 'target' to 'dist' folder icon
  src/icon-manifest/supportedFolders.ts
Labels: folder icons

#1531 Correct 'video' folder association
  src/icon-manifest/supportedFolders.ts
Labels: folder icons

#1537 Add uninstall hook script (cleanUp)
  package.json
  src/cleanUp/index.ts
  src/uninstall.ts
  test/cleanUp/cleanUp.test.ts
  test/utils/utils.test.ts
Labels: enhancement

#1547 Fix Prettier config file association
  src/icon-manifest/supportedExtensions.ts
Labels: file icons
