Repository vscode-icons/vscode-icons, pull requests merged in 2019-10, with the labels that each got.

#2249 README.md: abbreviate "installs" badge
  README.md
Labels: documentation

#2251 [Icon Update] Gradle icon
  icons/file_type_gradle.svg
  icons/file_type_light_gradle.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2255 [Icon Update] Office icons
  icons/file_type_access.svg
  icons/file_type_access2.svg
  icons/file_type_excel.svg
  icons/file_type_excel2.svg
  icons/file_type_powerpoint.svg
  icons/file_type_powerpoint2.svg
  icons/file_type_word.svg
  icons/file_type_word2.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2258 Change AL file type icon
  icons/file_type_al.svg
Labels: file icons

#2268 Update Vlang logo
  icons/file_type_vlang.svg
Labels: file icons

#2267 New Crowdin translations
  locale/package/package.nls.tr.json
Labels: i18n

#2253 Add support for Gradle folder
  icons/folder_type_gradle.svg
  icons/folder_type_gradle_opened.svg
  icons/folder_type_light_gradle.svg
  icons/folder_type_light_gradle_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2261 Update NuGet Icon
  icons/file_type_nuget.svg
Labels: file icons

#2262 Add support for Razzle
  icons/file_type_light_razzle.svg
  icons/file_type_razzle.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2270 Add file type icon for Systemd .service files
  icons/file_type_light_systemd.svg
  icons/file_type_systemd.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2263 Replace Matlab PNG icon with SVG
  icons/file_type_matlab.png
  icons/file_type_matlab.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons
