Repository vscode-icons/vscode-icons, pull requests merged in 2019-09, with the labels that each got.

#2223 Fix the minimum supported editor version
  src/vscode/vscodeManager.ts
  test/vscode/vscodeManager.test.ts
Labels: bug

#2230 Add Support for Include
  icons/file_type_inc.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2231 Add support for TOTVS
  icons/file_type_advpl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2234 Added extensions to icon dist
  src/iconsManifest/supportedFolders.ts
Labels: file icons

#2232 Fix Github folder icon
  icons/folder_type_github.svg
  icons/folder_type_github_opened.svg
Labels: folder icons

#2233 Add support for Hunspell
  icons/file_type_hunspell.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2236 Added pkg extensions to package folder icon
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2240 Update dependencies
  .huskyrc
  package-lock.json
  package.json
Labels: devops

#2237 Add more jest extensions
  src/iconsManifest/supportedExtensions.ts
Labels: file icons, needs more info

#2244 Add background to include icon
  icons/file_type_inc.svg
Labels: file icons

#2245 Pixel perfect default file icon
  icons/default_file.svg
Labels: file icons

#2243 Add Support for Powershell Format and Types icons
  icons/file_type_powershell.svg
  icons/file_type_powershell2.svg
  icons/file_type_powershell_format.svg
  icons/file_type_powershell_psd.svg
  icons/file_type_powershell_psd2.svg
  icons/file_type_powershell_psm.svg
  icons/file_type_powershell_psm2.svg
  icons/file_type_powershell_types.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2222 Update C family icons
  icons/file_type_c3.svg
  icons/file_type_cpp3.svg
  icons/file_type_csharp2.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2247 Add support for Memcached folder
  icons/folder_type_memcached.svg
  icons/folder_type_memcached_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2248 Add support for Favicon folder
  icons/folder_type_favicon.svg
  icons/folder_type_favicon_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons
