Repository vscode-icons/vscode-icons, pull requests merged in 2019-07, with the labels that each got.

#2127 Add support for Confluence
  icons/file_type_confluence.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2117 Add more names for include declaration
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2116 Add support for 'jenkinsfile' as Jenkins alias
  src/iconsManifest/languages.ts
Labels: file icons

#2129 Add support for G-Code
  icons/file_type_gcode.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2112 New Crowdin translations
  package.nls.fr.json
Labels: i18n

#2110 Add support for NSRI
  icons/file_type_nsri-integrity.svg
  icons/file_type_nsri.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2128 Add support for AsciiDoc
  icons/file_type_asciidoc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2145 [Icon Change] Update RiotJS file icon
  icons/file_type_riot.svg
Labels: file icons

#2146 Add support for Prisma
  icons/file_type_prisma.svg
  icons/file_type_prisma_light.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2147 Add support for Biml
  icons/file_type_biml.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2148 Add support for Renovate Bot
  icons/file_type_renovate.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2153 Fix Travis CI jobs
  .travis.yml
Labels: devops

#2156 New Crowdin translations
  locale/lang/lang.nls.de.json
  locale/lang/lang.nls.es.json
  locale/lang/lang.nls.fr.json
  locale/lang/lang.nls.it.json
  locale/lang/lang.nls.pt-br.json
  locale/lang/lang.nls.zh-cn.json
Labels: i18n

#2157 Remove Codecov badge
  README.md
Labels: documentation

#2161 Support `.dockerignore` via `languageid`
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2162 Add support for Pyup
  icons/file_type_pyup.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2168 Correct `vscode` engine version
  greenkeeper.json
  package-lock.json
  package.json
Labels: API

#2171 Update dependencies
  package-lock.json
  package.json
Labels: bug

#2166 Improve support for Sequelize
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2172 Update file_type_nuxt.svg
  icons/file_type_nuxt.svg
Labels: file icons

#2173 Fix directory creation on `windows`
  src/utils/index.ts
  test/utils/utils.test.ts
Labels: bug

#2179 New Crowdin translations
  locale/lang/lang.nls.ja.json
Labels: i18n

#2182 Fix custom icons directory detection
  src/iconsManifest/manifestBuilder.ts
Labels: bug

#2183 Improve PAD logic
  src/app/extensionManager.ts
  src/configuration/configManager.ts
  src/iconsManifest/customsMerger.ts
  src/models/configuration/configManager.ts
  src/pad/projectAutoDetectionManager.ts
  test/app/extensionManager.test.ts
  test/configuration/configManager.test.ts
  test/pad/angularDetection.test.ts
  test/pad/nestjsDetection.test.ts
Labels: bug
