Repository vscode-icons/vscode-icons, pull requests merged in 2019-05, with the labels that each got.

#2023 Add more namings to folders
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2025 Add support for e2e test filenames
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2029 Add support for e2e folder
  icons/folder_type_e2e.svg
  icons/folder_type_e2e_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2039 Add support for XQuery
  icons/file_type_xquery.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2037 Add support for svelte
  icons/file_type_svelte.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2028 Update folder coloring
  icons/folder_type_electron.svg
  icons/folder_type_electron_opened.svg
  icons/folder_type_light_electron.svg
  icons/folder_type_light_electron_opened.svg
  icons/folder_type_light_mysql.svg
  icons/folder_type_light_mysql_opened.svg
  icons/folder_type_light_redux.svg
  icons/folder_type_light_redux_opened.svg
  icons/folder_type_module.svg
  icons/folder_type_module_opened.svg
  icons/folder_type_mongodb.svg
  icons/folder_type_mongodb_opened.svg
  icons/folder_type_mysql.svg
  icons/folder_type_mysql_opened.svg
  icons/folder_type_notification.svg
  icons/folder_type_notification_opened.svg
  icons/folder_type_redux.svg
  icons/folder_type_redux_opened.svg
  icons/folder_type_script.svg
  icons/folder_type_script_opened.svg
  icons/folder_type_services.svg
  icons/folder_type_services_opened.svg
  icons/folder_type_theme.svg
  icons/folder_type_theme_opened.svg
  src/iconsManifest/supportedFolders.ts
  yarn.lock
Labels: folder icons

#2050 Update supported mocha config filenames
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2035 Fix 'vsicons' setting removal when ending with "[{"
  src/configuration/configManager.ts
  test/configuration/configManager.test.ts
Labels: bug

#2040 Add support for Remark, Rehype and retext
  icons/file_type_light_rehype.svg
  icons/file_type_light_remark.svg
  icons/file_type_light_retext.svg
  icons/file_type_rehype.svg
  icons/file_type_remark.svg
  icons/file_type_retext.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2038 Add support for Jsonnet
  icons/file_type_jsonnet.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2054 Add Home Assistant
  icons/file_type_homeassistant.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2061 Add support for Docz
  icons/file_type_docz.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2031 Updates Robot Framework icon to official version
  icons/file_type_robotframework.svg
Labels: file icons

#2060 Add support for Inno Setup
  icons/file_type_innosetup.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons
