Repository vscode-icons/vscode-icons, pull requests merged in 2019-12, with the labels that each got.

#2295 Add support for Bloc
  icons/folder_type_bloc.svg
  icons/folder_type_bloc_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: file icons

#2299 Add support for Dependabot folder
  icons/folder_type_dependabot.svg
  icons/folder_type_dependabot_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2297 Extend folder icons with singular and plural names
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2303 Add support for stylish-haskell! λ💅🏼
  icons/file_type_stylish_haskell.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2306 Add support for Rexx
  icons/file_type_rexx.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2307 Add support for Modernizr
  icons/file_type_modernizr.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2308 Add support for Gnuplot
  icons/file_type_gnuplot.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2311 Use webpack config typescript file
  .vscode/settings.json
  package-lock.json
  package.json
  webpack.config.js
  webpack.config.ts
Labels: enhancement

#2318 Add support for Lex and Yacc
  icons/file_type_lex.svg
  icons/file_type_yacc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons
