Repository vscode-icons/vscode-icons, pull requests merged in 2019-08, with the labels that each got.

#2187 Add support for ATS
  icons/file_type_ats.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2190 Add support for Informix 4GL
  icons/file_type_informix.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2191 New Crowdin translations
  locale/lang/lang.nls.tr.json
Labels: i18n

#2193 Add support for Ninja
  icons/file_type_ninja.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2196 Add support for Janet
  icons/file_type_janet.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2197 Add support for Ada
  icons/file_type_ada.svg
  icons/file_type_light_ada.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2188 Add support for PlatformIO
  icons/file_type_platformio.svg
  icons/folder_type_platformio.svg
  icons/folder_type_platformio_opened.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
  src/models/language/languageCollection.ts
Labels: file icons, folder icons

#2208 Add support for Pine Script
  icons/file_type_pine.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2209 Add support for Befunge93 and Befunge98
  icons/file_type_befunge.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2189 Add support for Json folder
  icons/folder_type_json.svg
  icons/folder_type_json_official.svg
  icons/folder_type_json_official_opened.svg
  icons/folder_type_json_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2217 Update blade files with the Laravel logo
  icons/file_type_blade.svg
Labels: file icons

#2219 Add support for Vue config
  icons/file_type_vueconfig.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2221 Add support for V lang
  icons/file_type_vlang.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2220 Add support for Styled Components
  icons/file_type_styled.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons
