Repository vscode-icons/vscode-icons, pull requests merged in 2019-02, with the labels that each got.

#1843 Make greenkeeper ignore `vscode` dependecy
  package.json
Labels: devops

#1855 apply vscode-icons guidelines to bitbucket pipeline icon
  icons/file_type_bitbucketpipeline.svg
Labels: file icons

#1857 add support for flutter
  icons/file_type_flutter.svg
  icons/file_type_flutter_package.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1856 New golang logo and support for go.sum and go.mod
  icons/file_type_go.svg
  icons/file_type_go_aqua.svg
  icons/file_type_go_black.svg
  icons/file_type_go_fuchsia.svg
  icons/file_type_go_gopher.svg
  icons/file_type_go_lightblue.svg
  icons/file_type_go_package.svg
  icons/file_type_go_white.svg
  icons/file_type_go_yellow.svg
  package-lock.json
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1860 added support for npm-shrinkwrap.json
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1859 support for powershell modules
  icons/file_type_powershell_psd.svg
  icons/file_type_powershell_psm.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1874 Update recommended extensions
  .vscode/extensions.json
Labels: suggestion

#1869 Add support for ballerina
  icons/file_type_ballerina.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1867 Add support for netlify config file
  icons/file_type_netlify.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1865 Add Support for Pony
  icons/file_type_pony.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1872 Add support for Modern Fortran extension
  src/iconsManifest/languages.ts
Labels: file icons

#1862 Add support for Imba
  icons/file_type_imba.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1863 Added Support for AngularDart plus extensions
  icons/file_type_ng_component_dart.svg
  icons/file_type_ng_directive_dart.svg
  icons/file_type_ng_guard_dart.svg
  icons/file_type_ng_interceptor_dart.svg
  icons/file_type_ng_module_dart.svg
  icons/file_type_ng_pipe_dart.svg
  icons/file_type_ng_routing_dart.svg
  icons/file_type_ng_service_dart.svg
  icons/file_type_ng_smart_component_dart.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons
