Repository vscode-icons/vscode-icons, pull requests merged in 2019-04, with the labels that each got.

#1935 Add support for hjson
  icons/file_type_hjson.svg
  icons/file_type_light_hjson.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1934 Add support for dotjs
  icons/file_type_dotjs.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1931 Add support for Husky
  icons/file_type_husky.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1930 Add support for Greenkeeper
  icons/file_type_greenkeeper.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1940 Add ability to resolve conflicting project icons
  locale/lang.de.json
  locale/lang.en.json
  locale/lang.es.json
  locale/lang.fr.json
  locale/lang.it.json
  locale/lang.ja.json
  locale/lang.pt.json
  locale/lang.ru.json
  locale/lang.tr.json
  locale/lang.zh-cn.json
  src/app/extensionManager.ts
  src/iconsManifest/customsMerger.ts
  src/models/i18n/langResourceKeys.ts
  src/models/projectDetector/index.ts
  src/models/projectDetector/projectDetectionResult.ts
  src/models/projectDetector/projectNames.ts
  src/pad/projectAutoDetectionManager.ts
  test/app/actions.test.ts
  test/app/extensionManager.test.ts
  test/iconsManifest/customsMerger/presets.test.ts
  test/pad/angularDetection.test.ts
  test/pad/nestjsDetection.test.ts
  test/pad/projectAutoDetectionManager.test.ts
Labels: enhancement

#1954 Fix path search to custom icons folder
  src/iconsManifest/iconsGenerator.ts
  test/iconsManifest/iconsGenerator.test.ts
Labels: bug

#1955 Add support for Portuguese (Brazil) and Turkish
  src/i18n/langResourceCollection.ts
  src/models/i18n/langResourceCollection.ts
Labels: enhancement

#1986 Add support for window, linux and macos folders
  icons/folder_type_linux.svg
  icons/folder_type_linux_opened.svg
  icons/folder_type_macos.svg
  icons/folder_type_macos_opened.svg
  icons/folder_type_windows.svg
  icons/folder_type_windows_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1980 Add support for Moleculer files
  icons/file_type_moleculer.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1983 Add support for JSS
  icons/file_type_jss.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1984 Add support for sentry
  icons/file_type_sentry.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1978 Add support for APL
  icons/file_type_apl.svg
  icons/file_type_light_apl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2012 Add support for notifications and events folder
  icons/folder_type_notification.svg
  icons/folder_type_notification_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2010 Add support for services folder
  icons/folder_type_services.svg
  icons/folder_type_services_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2009 Add support for middleware folder
  icons/folder_type_middleware.svg
  icons/folder_type_middleware_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2008 Add support for mock folder
  icons/folder_type_mock.svg
  icons/folder_type_mock_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2007 Add support for blueprint folder
  icons/folder_type_blueprint.svg
  icons/folder_type_blueprint_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2006 Add support for controller folder
  icons/folder_type_controller.svg
  icons/folder_type_controller_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2005 Update google cloud platform folder icons
  icons/folder_type_gcp.svg
  icons/folder_type_gcp_opened.svg
Labels: folder icons

#2011 Add support for theme folder
  icons/folder_type_theme.svg
  icons/folder_type_theme_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2002 Add support for entities folder
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2001 Add support for repo folder
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2000 Add support for sounds
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1999 Support more config namings
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1998 Add support for pages
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1996 Add support for _locales folder name
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1995 Add support for cmake folder
  icons/file_type_cmake.svg
  icons/folder_type_cmake.svg
  icons/folder_type_cmake_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1994 Add support for Gulp folder
  icons/folder_type_gulp.svg
  icons/folder_type_gulp_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1993 Add support for electron folder
  icons/folder_type_electron.svg
  icons/folder_type_electron_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1992 Add support for Cuda
  icons/file_type_cuda.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#1991 Add support for vsixmanifest
  icons/file_type_light_vsixmanifest.svg
  icons/file_type_vsixmanifest.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#1989 Add support for Buildkite folder
  icons/folder_type_buildkite.svg
  icons/folder_type_buildkite_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1985 Add support for modules folder
  icons/folder_type_module.svg
  icons/folder_type_module_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1988 Add support for Grunt Folder
  icons/file_type_grunt.svg
  icons/folder_type_grunt.svg
  icons/folder_type_grunt_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2003 Add support for minikube folder
  icons/folder_type_minikube.svg
  icons/folder_type_minikube_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1997 Add support for stories folder
  icons/folder_type_story.svg
  icons/folder_type_story_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#1990 Add support for cli folder
  icons/folder_type_cli.svg
  icons/folder_type_cli_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2004 Add support for certificate folder
  icons/folder_type_certificate.svg
  icons/folder_type_certificate_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2013 Add support for interfaces folder
  icons/folder_type_interfaces.svg
  icons/folder_type_interfaces_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2014 feat(azure-pipelines): add support for azure pipelines folder
  icons/folder_type_azurepipelines.svg
  icons/folder_type_azurepipelines_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2015 feat(coverage): support for coverage folder
  icons/folder_type_coverage.svg
  icons/folder_type_coverage_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2018 Add default formater in settings
  .vscode/settings.json
Labels: enhancement

#2019 Fix reactivation issue
  src/configuration/configManager.ts
  test/configuration/configManager.test.ts
Labels: enhancement
