Repository vscode-icons/vscode-icons, pull requests merged in 2020-09, with the labels that each got.

#2604 Add support for Hook(s) folder
  icons/folder_type_hook.svg
  icons/folder_type_hook_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2614 Update dependencies and fix eslint rules
  .eslintrc.json
  .travis.yml
  package-lock.json
  package.json
  src/iconsManifest/languages.ts
Labels: dependencies, devops

#2590 Add support for Rego Policies
  icons/file_type_rego.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons
