Repository vscode-icons/vscode-icons, pull requests merged in 2020-07, with the labels that each got.

#2527 Update Bloc folder icon
  icons/folder_type_bloc.svg
  icons/folder_type_bloc_opened.svg
Labels: folder icons

#2528 Extend husky icon to support husky.config.js
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2475 Add support for Kusto
  icons/file_type_kusto.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2476 Add support for commitlint
  icons/file_type_commitlint.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2477 Add support for lighthouse
  icons/file_type_lighthouse.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2495 Add support for Bosque
  icons/file_type_bosque.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2496 Add support for Hy
  icons/file_type_hy.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2506 Add support for DVC
  icons/file_type_dvc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2507 Add support for jscpd
  icons/file_type_jscpd.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2508 Add support for Rmd
  icons/file_type_rmd.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2518 Add support for Drawio
  icons/file_type_drawio.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2517 Add support for glyphs
  icons/file_type_glyphs.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2519 Add support for Bats
  icons/file_type_bats.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2520 Add support for fthtml
  icons/file_type_fthtml.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2548 Add support for Dependabot
  icons/file_type_dependabot.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2549 Add support for ng-tailwind
  icons/file_type_ng_tailwind.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2540 Add support for Nix
  icons/file_type_nix.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2550 Add support for xmake
  icons/file_type_xmake.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2551 Add support for cubit
  icons/folder_type_cubit.svg
  icons/folder_type_cubit_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2554 update storybook folder icon
  icons/folder_type_story.svg
  icons/folder_type_story_opened.svg
Labels: folder icons

#2555 Add support for CDDL
  icons/file_type_cddl.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2557 Add support for AWK
  icons/file_type_awk.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2566 Deprecate AppVeyor CI
  .appveyor.yml
  .travis.yml
Labels: devops

#2565 Deprecate Wallaby
  README.md
  wallaby.js
Labels: devops

#2564 Deprecate Greenkeeper
  README.md
  greenkeeper.json
Labels: devops
