Repository vscode-icons/vscode-icons, pull requests merged in 2020-02, with the labels that each got.

#2369 Add support for zipx extension
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2367 Fix 'tox' file association
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2363 Migrate to eslint from tslint
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/extensionManager.ts
  src/common/debugger.ts
  src/configuration/configManager.ts
  src/iconsManifest/iconsGenerator.ts
  src/iconsManifest/languages.ts
  src/iconsManifest/manifestBuilder.ts
  src/iconsManifest/manifestReader.ts
  src/index.ts
  src/models/extensions/folderExtension.ts
  src/models/language/languageCollection.ts
  src/models/vscode/vscodeWorkspaceConfiguration.ts
  src/pad/projectAutoDetectionManager.ts
  src/services/compositionRootService.ts
  src/tools/build.ts
  src/uninstall.ts
  src/utils/index.ts
  src/vscode/vscodeManager.ts
  test/app/actions.test.ts
  test/app/commands.test.ts
  test/app/eventListeners.test.ts
  test/app/extensionManager.test.ts
  test/app/messages.test.ts
  test/app/specs.test.ts
  test/common/bundler.test.ts
  test/common/debugger.test.ts
  test/common/errorHandler.test.ts
  test/configuration/configManager.test.ts
  test/i18n/i18nManager.test.ts
  test/iconsManifest/customsMerger/defaultExtensions.test.ts
  test/iconsManifest/customsMerger/fileExtensions.test.ts
  test/iconsManifest/customsMerger/folderExtensions.test.ts
  test/iconsManifest/customsMerger/presets.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/iconsManifest/manifestBuilder/files.test.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
  test/iconsManifest/manifestReader/manifestReader.test.ts
  test/iconsManifest/specsExtensions.test.ts
  test/iconsManifest/specsFolders.test.ts
  test/index.test.ts
  test/index.ts
  test/integrity/integrityManager.test.ts
  test/notification/notificationManager.test.ts
  test/pad/angularDetection.test.ts
  test/pad/nestjsDetection.test.ts
  test/pad/projectAutoDetectionManager.test.ts
  test/services/compositionRoot.test.ts
  test/settings/settingsManager.test.ts
  test/tools/build.test.ts
  test/tools/bundle.test.ts
  test/uninstall.test.ts
  test/utils/utils.test.ts
  test/vscode/vscodeManager.test.ts
  tslint.json
  webpack.config.ts
Labels: devops

#2360 Extend folder icons with plural "libs"
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2349 Add kitchen.yml as a Test Kitchen file
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2346 feat: add mjs cjs config file for jest
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2328 support mjs/cjs config file extension for eslint
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2327 Added support for Expo config and generated folders
  icons/file_type_expo.svg
  icons/file_type_light_expo.svg
  icons/folder_type_expo.svg
  icons/folder_type_expo_opened.svg
  icons/folder_type_light_expo.svg
  icons/folder_type_light_expo_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Labels: file icons, folder icons

#2321 Add support for Wenyan Lang
  icons/file_type_wenyan.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2334 feat: add cjs and mjs support for babel
  src/iconsManifest/supportedExtensions.ts
  test/fixtures/supportedExtensions.ts
Labels: file icons

#2347 Add support for SAS
  icons/file_type_sas.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2337 Singular name for helper, model and service folder
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2298 Add support for Nuxt folder
  icons/folder_type_nuxt.svg
  icons/folder_type_nuxt_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2305 Add light version of Perl camel
  icons/file_type_perl.svg
Labels: file icons

#2350 Drop support for node v8
  .appveyor.yml
  .travis.yml
  README.md
  package-lock.json
  package.json
  src/models/i18n/languageResourceManager.ts
  test/utils/utils.test.ts
Labels: dependencies

#2370 Add support for Genstat
  icons/file_type_genstat.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2371 Add support for rust-toolchain
  icons/file_type_rust_toolchain.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2374 fix(travis): fix travis nodejs version
  .travis.yml
Labels: devops

#2375 Merge travis matrix and jobs
  .travis.yml
Labels: devops

#2376 fix(dependencies): fix several issues with project's dependencies
  .travis.yml
  .vscode/extensions.json
  greenkeeper.json
  package-lock.json
  package.json
Labels: devops
