Repository vscode-icons/vscode-icons, pull requests merged in 2020-12, with the labels that each got.

#2620 Add support for tuc
  icons/file_type_tuc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2621 Extend icon suffix for cpp headers
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2628 Add support for Ogone
  icons/file_type_ogone.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2629 Add Support for FaunaDB
  icons/file_type_fauna.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2632 Add support for .snupkg files
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2638 Add clients extension
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2641 feat : add support of .hypr & .hypr.live files
  icons/file_type_hypr.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2649 Add support for Tiltfile
  icons/file_type_tiltfile.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2650 Add support for py.typed
  icons/file_type_pytyped.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2651 Add support for Unlicense
  icons/file_type_unlicense.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2657 jest.config.ts configuration file in Typescript
  src/iconsManifest/supportedExtensions.ts
Labels: file icons, good first issue

#2661 Make MDX a code language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons, good first issue
