Repository vscode-icons/vscode-icons, pull requests merged in 2020-04, with the labels that each got.

#2384 Replace nim dark theme icon
  icons/file_type_light_nim.svg
  icons/file_type_nim.svg
Labels: file icons

#2385 Fix uninstall script
  src/constants/index.ts
  src/iconsManifest/iconsGenerator.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  webpack.config.ts
Labels: bug-fix

#2386 Add support for `jest.config.babel.[js, cjs, mjs]`
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2397 Add support for Sails
  icons/file_type_sails.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2425 Add support for remote devcontainer icons
  icons/file_type_devcontainer.svg
  icons/folder_type_devcontainer.svg
  icons/folder_type_devcontainer_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Labels: file icons, folder icons

#2426 Add support for pnpm
  icons/file_type_light_pnpm.svg
  icons/file_type_pnpm.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2389 Add support for Nimble
  icons/file_type_nimble.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2409 Add support for GraphQL config
  icons/file_type_graphql_config.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2428 Add support for lnk
  icons/file_type_lnk.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2444 Add support for TestCafe
  icons/file_type_light_testcafe.svg
  icons/file_type_testcafe.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2443 Add support for API-Extractor
  icons/file_type_api_extractor.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2402 Adjust and cleanup eslint rules
  .eslintrc.json
  .lintstagedrc
  .travis.yml
  package-lock.json
  package.json
  src/app/extensionManager.ts
  src/common/bundler.ts
  src/common/debugger.ts
  src/common/errorHandler.ts
  src/configuration/configManager.ts
  src/i18n/languageResourceManager.ts
  src/iconsManifest/customsMerger.ts
  src/iconsManifest/iconsGenerator.ts
  src/iconsManifest/index.ts
  src/iconsManifest/manifestBuilder.ts
  src/iconsManifest/manifestReader.ts
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
  src/index.ts
  src/integrity/integrityManager.ts
  src/models/extensions/fileExtension.ts
  src/models/extensions/folderExtension.ts
  src/notification/notificationManager.ts
  src/pad/projectAutoDetectionManager.ts
  src/services/compositionRootService.ts
  src/tools/build.ts
  src/tools/bundle.ts
  src/utils/index.ts
  test/app/actions.test.ts
  test/app/commands.test.ts
  test/app/eventListeners.test.ts
  test/app/extensionManager.test.ts
  test/app/messages.test.ts
  test/app/specs.test.ts
  test/common/errorHandler.test.ts
  test/configuration/configManager.test.ts
  test/i18n/i18nManager.test.ts
  test/iconsManifest/customsMerger/defaultExtensions.test.ts
  test/iconsManifest/customsMerger/fileExtensions.test.ts
  test/iconsManifest/customsMerger/folderExtensions.test.ts
  test/iconsManifest/customsMerger/presets.test.ts
  test/iconsManifest/iconsGenerator/iconsGenerator.test.ts
  test/iconsManifest/manifestBuilder/files.test.ts
  test/iconsManifest/manifestBuilder/folders.test.ts
  test/iconsManifest/manifestReader/manifestReader.test.ts
  test/iconsManifest/specsExtensions.test.ts
  test/iconsManifest/specsFolders.test.ts
  test/index.ts
  test/pad/angularDetection.test.ts
  test/pad/nestjsDetection.test.ts
  test/tools/build.test.ts
  test/tools/bundle.test.ts
  test/utils/utils.test.ts
Labels: devops

#2446 Improve travis config
  .travis.yml
Labels: devops

#2448 fix(ci): Fix ci configs
  .appveyor.yml
  .travis.yml
Labels: devops

#2453 Update dependencies
  .huskyrc
  package-lock.json
  package.json
Labels: devops

#2455 Correct eslint syntax
  .lintstagedrc
Labels: devops

#2456 Use 'npx' to run 'npm' packages
  .travis.yml
Labels: devops

#2457 Add support for Zig
  icons/file_type_zig.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2460 Add Travis CI Windows builds
  .travis.yml
Labels: devops

#2461 Allow Windows builds to fail on Travis CI
  .travis.yml
Labels: devops

#2462 Correct `nsri` config file association
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2458 Add support for Latino
  icons/file_type_latino.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons
