Repository vscode-icons/vscode-icons, pull requests merged in 2021-06, with the labels that each got.

#2767 feat: extend docker with compose plus yaml extension
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2771 Add support for Dapr folder
  icons/folder_type_dapr.svg
  icons/folder_type_dapr_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2784 Update Chef policyfile extensions
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2792 feat(vscode): untrusted workspaces support
  package.json
Labels: vscode official integration

#2791 feat(vscode): virtual workspace support
  package.json
Labels: vscode official integration

#2793 feat(icon): support for licensebat icon
  icons/file_type_licensebat.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2683 Update Rust icon
  icons/file_type_light_rust.svg
  icons/file_type_rust.svg
  src/iconsManifest/supportedExtensions.ts
Labels: enhancement, file icons

#2630 Update TSConfig with official alternative
  icons/file_type_tsconfig_official.svg
  src/iconsManifest/customsMerger.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/contributions/iconNames.ts
  test/iconsManifest/customsMerger/presets.test.ts
Labels: file icons

#2794 feat(rust): add light version of rust toolchain icon
  icons/file_type_light_rust_toolchain.svg
  src/iconsManifest/supportedExtensions.ts
Labels: enhancement, file icons
