Repository vscode-icons/vscode-icons, pull requests merged in 2021-03, with the labels that each got.

#2692 Add support for CASC
  icons/file_type_casc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2677 fix(jinja): support for better jinja language ids
  src/iconsManifest/languages.ts
Labels: file icons

#2715 Add support for Bicep
  icons/file_type_bicep.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#2716 Add support for Husky folder
  icons/folder_type_husky.svg
  icons/folder_type_husky_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#2724 Support all Serverless Framework configuration file extensions
  src/iconsManifest/supportedExtensions.ts
Labels: enhancement

#2720 Add support for Laravel Vapor
  icons/file_type_vapor.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons
