Repository vscode-icons/vscode-icons, pull requests merged in 2022-05, with the labels that each got.

#3020 feat(icon): add funding icon
  icons/file_type_funding.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3016 refactor(component): add gui to extensions
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#3001 refactor(webp): remove icon
  icons/file_type_webp.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2988 feat(git-icon): add .issuetracker
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3007 feat(icon): add replit icon
  icons/file_type_light_replit.svg
  icons/file_type_replit.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3006 feat: add tauri icons
  icons/file_type_tauri.svg
  icons/folder_type_tauri.svg
  icons/folder_type_tauri_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Labels: file icons, folder icons

#2999 refactor(azure): use new logo
  icons/file_type_azure.svg
  icons/folder_type_azure.svg
  icons/folder_type_azure_opened.svg
Labels: file icons, folder icons

#3004 feat(icon): add .objidconfig icon
  icons/file_type_light_objidconfig.svg
  icons/file_type_objidconfig.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2997 feat(icon): add playwright icon
  icons/file_type_playwright.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2990 feat: add flareact icon
  icons/file_type_flareact.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#2982 feat: update cypress icons and add spec icon for .cy files
  icons/file_type_cypress.svg
  icons/file_type_cypress_spec.svg
  icons/file_type_light_cypress.svg
  icons/file_type_light_cypress_spec.svg
  icons/folder_type_cypress.svg
  icons/folder_type_cypress_opened.svg
  icons/folder_type_light_cypress.svg
  icons/folder_type_light_cypress_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Labels: file icons, folder icons

#3031 refactor(kotlin): switch to new logo
  icons/file_type_kotlin.svg
Labels: file icons

#2989 feat: add all-contributors icon
  icons/file_type_allcontributors.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons
