Repository vscode-icons/vscode-icons, pull requests merged in 2022-10, with the labels that each got.

#3069 feat(icon): Add additional Godot icons
  icons/file_type_gdscript.svg
  icons/file_type_godot.svg
  icons/file_type_tres.svg
  icons/file_type_tscn.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons, work in progress

#3155 feat(datadog): add support for service catalog file and datadog-ci
  icons/file_type_datadog.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3156 feat(datadog): support for datadog folders
  icons/folder_type_datadog.svg
  icons/folder_type_datadog_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#3153 feat(icon): add mts to testts icon
  src/iconsManifest/supportedExtensions.ts
Labels: enhancement

#3151 feat(icon): add mailing icon
  icons/file_type_light_mailing.svg
  icons/file_type_mailing.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons
