Repository vscode-icons/vscode-icons, pull requests merged in 2023-01, with the labels that each got.

#3185 chore: update Nuxt icons
  icons/file_type_nuxt.svg
  icons/folder_type_nuxt.svg
  icons/folder_type_nuxt_opened.svg
Labels: file icons

#3191 feat(icon): add support for mondoo policies
  icons/file_type_mondoo.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons, needs icon rework

#3177 feat(icon): add Rome icon
  icons/file_type_light_rome.svg
  icons/file_type_rome.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3175 feat(icon): add @sapphire/framework cli icon
  icons/file_type_sapphire_framework_cli.svg
  src/iconsManifest/supportedExtensions.ts
Labels: needs icon rework

#2998 feat(icon): add eleventy icon
  icons/file_type_eleventy.svg
  icons/file_type_eleventy2.svg
  icons/file_type_light_eleventy.svg
  icons/file_type_light_eleventy2.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons, needs icon rework
