Repository vscode-icons/vscode-icons, pull requests merged in 2023-08, with the labels that each got.

#3326 Replace husky folder with huskyrc file
  .husky/pre-commit
  .huskyrc
Labels: devops

#3287 feat(json schema): support for JSON schema
  icons/file_type_json_schema.svg
  icons/file_type_light_json_schema.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3237 feat(icon): add vercel folder support
  icons/file_type_light_vercel.svg
  icons/file_type_vercel.svg
  icons/folder_type_vercel.svg
  icons/folder_type_vercel_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Labels: file icons, folder icons, needs icon rework
