Repository vscode-icons/vscode-icons, pull requests merged in 2023-04, with the labels that each got.

#3268 feat(icon): add unocss icon
  icons/file_type_unocss.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3226 refactor(icon): update glyphs icon
  icons/file_type_glyphs.svg
Labels: file icons

#3234 feat(icon): tamagui icon support
  icons/file_type_tamagui.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3260 feat(icon): add Snaplet icon
  icons/file_type_snaplet.svg
  icons/folder_type_snaplet.svg
  icons/folder_type_snaplet_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Labels: file icons, folder icons, needs more info

#3274 feat(dotenv) add dotENV icon
  icons/file_type_dotenv.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3275 feat(changesets): add changeset folder icon
  icons/folder_type_changesets.svg
  icons/folder_type_changesets_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#3251 fix(protobuf) use correct Protobuf icon, adds Buf
  icons/file_type_buf.svg
  icons/file_type_protobuf.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons, needs icon rework

#3229 feat(icon): support for .code-snippet and .code-workspace extensions
  src/iconsManifest/supportedExtensions.ts
Labels: file icons
