Repository vscode-icons/vscode-icons, pull requests merged in 2024-06, with the labels that each got.

#3513 feat(icon): add nextflow icon
  .github/workflows/test.yml
  icons/file_type_nextflow.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
  test/iconsManifest/specsExtensions.test.ts
Labels: file icons

#3509 feat(icon): support the S-Lang language
  icons/file_type_s-lang.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3508 feat(icon): add icon for slint files
  icons/file_type_slint.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3440 feat(icon): update Biome logo
  icons/file_type_biome.svg
Labels: file icons

#3507 feat(icon): add support for knip files
  icons/file_type_knip.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3410 feat(icon): add miva icons
  icons/file_type_mivascript.svg
  icons/file_type_mvt.svg
  icons/file_type_mvtcss.svg
  icons/file_type_mvtjs.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3420 feat(icon): Add snakemake language icon
  icons/file_type_snakemake.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3504 feat(icon): add XO icon
  icons/file_type_xo.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3491 feat(icon): add the pyscript icon
  icons/file_type_pyscript.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3489 feat(icon): add icon for rnc files
  icons/file_type_rnc.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3490 feat(icon): support vitest-snapshot language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3400 feat(icon): add icons for libreoffice
  icons/file_type_libreoffice_base.svg
  icons/file_type_libreoffice_calc.svg
  icons/file_type_libreoffice_draw.svg
  icons/file_type_libreoffice_impress.svg
  icons/file_type_libreoffice_math.svg
  icons/file_type_libreoffice_writer.svg
  src/iconsManifest/supportedExtensions.ts
Labels: needs icon rework

#3425 feat(icon): support the search-result language
  icons/file_type_search_result.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3448 feat(icon): add coverage icon
  icons/file_type_coverage.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3433 feat(icon): add the tmux icon
  icons/file_type_light_tmux.svg
  icons/file_type_tmux.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3429 feat(icon): support the gradle-kotlin-dsl language
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3473 Add mediawiki folder type
  icons/folder_type_mediawiki.svg
  icons/folder_type_mediawiki_opened.svg
  src/iconsManifest/supportedFolders.ts
Labels: folder icons

#3474 Update mediawiki file type
  icons/file_type_mediawiki.svg
Labels: file icons

#3451 feat(icon): add SST icon
  icons/file_type_sst.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3456 docs(contributing): specify creating a branch for PRs
  .github/CONTRIBUTING.md
Labels: documentation

#3480 feat(icon): add wxt icon
  icons/file_type_wxt.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3461 feat(icon): add gleam icon
  icons/file_type_gleam.svg
  icons/file_type_gleamconfig.svg
  src/iconsManifest/languages.ts
  src/iconsManifest/supportedExtensions.ts
  src/models/language/languageCollection.ts
Labels: file icons

#3460 feat: Add support for 'tm' and 'tm.hcl' files including light theme icon
  icons/file_type_light_tm.svg
  icons/file_type_tm.svg
  src/iconsManifest/supportedExtensions.ts
Labels: file icons

#3514 feat(icon): add support for frontcommerce
  icons/file_type_frontcommerce.svg
  icons/folder_type_frontcommerce.svg
  icons/folder_type_frontcommerce_opened.svg
  src/iconsManifest/supportedExtensions.ts
  src/iconsManifest/supportedFolders.ts
Labels: file icons, folder icons

#3431 chore: remove the language collection types
  src/iconsManifest/languages.ts
  src/models/language/index.ts
  src/models/language/languageCollection.ts
  src/models/language/nativeLanguageCollection.ts
Labels: enhancement
